[client]
port        = 3306
socket      = /var/run/mysqld/mysqld.sock

[mysqld_safe]
pid-file    = /var/run/mysqld/mysqld.pid
socket      = /var/run/mysqld/mysqld.sock
nice        = 0

[mysqld]
user        = mysql
pid-file    = /var/run/mysqld/mysqld.pid
socket      = /var/run/mysqld/mysqld.sock
port        = 3306
basedir     = /usr
datadir     = /var/lib/mysql
tmpdir      = /tmp
secure-file-priv=/var/lib/mysql-files
lc-messages-dir = /usr/share/mysql
explicit_defaults_for_timestamp

# 1. 限制缓存池大小 (默认是 128M，但在 2G 机器上建议稍微限制一下，或者保持 128M 但限制最大连接数)
innodb_buffer_pool_size = 64M

# 2. 限制最大连接数 (默认 151，你个人用根本用不完，改成 50 足够了)
# 每一个连接都会消耗额外的内存，限制连接数能省内存
max_connections = 50

# 3. 关闭一些不用的性能库 (能省几十兆)
performance_schema = 0

log-bin = mysql-bin
server-id = 1
